.input-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.input-form > h3 {
    margin: 0 1em 0 0;
}

.input-box {
    margin: 0 1em 0 0;
}

.unit-input {
    display: flex;
    align-items: baseline;
    margin-right: 1em;
}

.app-status {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}